.about {
  background-image: linear-gradient(to bottom right, $color-secondary-clear, $color-primary-clear),
    url("../../assets/backgrounds/desert.jpg");
  text-align: right;
  position: relative;

  @media only screen and (max-width: $bp-medium) {
    background-image: linear-gradient(to bottom right, $color-secondary-clear, $color-primary-clear),
    url("../../assets/backgrounds/desert-s.jpg");
  }
}

.about-me {
  line-height: 1.7rem;
  text-align: justify;
  padding-bottom: 2rem;
}

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  justify-items: center;
  text-align: center;
  color: $color-tertiary;
  grid-gap: 1rem;
}

.skill-icon {
  font-size: 5rem;
  filter: drop-shadow(1px 1px 1px rgb(68, 45, 38));
}
