.about {
  background-image: $linear-gradient, url("../../assets/backgrounds/desert.jpg");
  position: relative;

  @media only screen and (max-width: $bp-medium) {
    background-image: $linear-gradient, url("../../assets/backgrounds/desert-s.jpg");
  }
}

.about-me {
  line-height: 1.7rem;
  text-align: justify;
  padding-bottom: 2rem;
}

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  justify-items: center;
  text-align: center;
  color: $color-secondary;
  grid-gap: 3rem;
}

.skill-icon {
  font-size: 5rem;
  filter: $drop-shadow;
}
