.contact {
  background-image: $linear-gradient, url("../../assets/backgrounds/carmel.jpg");
  position: relative;

  @media only screen and (max-width: $bp-medium) {
    background-image: $linear-gradient, url("../../assets/backgrounds/carmel-s.jpg");
  }
}

.contacts {
  position: absolute;
  bottom: 5rem;
  right: 5rem;
  background: rgba(248, 245, 245, 0.4);
  box-shadow: 3px 3px 5px 0px rgba(124, 123, 123, 0.4);
}

.contact-field {
  display: grid;
  grid-template-columns: 2rem 7rem 20rem;
  margin: 1rem;
  justify-items: left;
}

.field {
  font-weight: bold;
}

.contact-icon,
.contact-value {
  font-size: 1.3rem;
}
