.cv {
  background-image: $linear-gradient, url("../../assets/backgrounds/redwood.jpg");

  @media only screen and (max-width: $bp-medium) {
    background-image: $linear-gradient, url("../../assets/backgrounds/redwood-s.jpg");
  }
}

.pdf-container {
  background: $background;
  box-shadow: $box-shadow;
  padding: .5rem;
  width: min-content;
  margin: 0 auto;
}
