.gallery {
  background-image: linear-gradient(to bottom right, $color-secondary-clear, $color-tertiary-clear),
    url("../../assets/backgrounds/desert.jpg");
  text-align: right;

  @media only screen and (max-width: $bp-medium) {
    background-image: linear-gradient(to bottom right, $color-secondary-clear, $color-primary-clear),
    url("../../assets/backgrounds/desert-s.jpg");
  }
}

.gallery-pics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}