.gallery {
  background-image: $linear-gradient, url("../../assets/backgrounds/desert.jpg");

  @media only screen and (max-width: $bp-medium) {
    background-image: $linear-gradient, url("../../assets/backgrounds/desert-s.jpg");
  }
}

.gallery-pics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}