.portfolio {
  background-image: $linear-gradient, url("../../assets/backgrounds/desert.jpg");

  @media only screen and (max-width: $bp-medium) {
    background-image: $linear-gradient, url("../../assets/backgrounds/desert-s.jpg");
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  justify-items: center;
  text-align: center;
  grid-gap: 1.5rem;
}
