// COLOR VARIABLES
$color-primary: rgb(252, 208, 98);
$color-primary-clear: rgba(252, 229, 173, 0.774);
$color-primary-dark: rgb(202, 151, 23);

$color-secondary: rgb(2, 48, 71);
$color-secondary-clear: rgba(120, 170, 196, 0.74);

// FONT VARIABLES
$font-primary: "Roboto", sans-serif;
$font-display: "Roboto", sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; /* 1200px */
$bp-large: 62.5em; /* 1000px */
$bp-medium: 50em; /* 800px */
$bp-small: 37.5em; /* 600px */

// GLOBAL STYLES
$box-shadow: none;
$drop-shadow: drop-shadow(.5px .5px .5px rgb(155, 136, 131));
$linear-gradient: linear-gradient(to bottom right, $color-secondary-clear, $color-primary-clear);
$background:  rgba(248, 245, 245, 0.4);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root,
html {
  box-sizing: border-box;
  font-size: 16px; /* 10px/16px = 62.5% -> 1rem = 10px */

  @media only screen and (max-width: $bp-large) {
    font-size: 75%;
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 50%; /* 8px */
  }

  height: 100%;
}

body {
  font-family: $font-primary;
  color: $color-secondary;
  height: 100%;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  display: grid;
  grid-template-columns: 25% 1fr;

  @media only screen and (max-width: $bp-small) {
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr;
    min-height: 100vh;
  }
}
