// COLOR VARIABLES
$color-primary: rgb(255,194,91);
$color-primary-clear: rgba(255,194,91,0.7);
$color-primary-dark: rgb(77, 50, 6);

$color-secondary: rgb(72,142,183);
$color-secondary-clear: rgba(72,142,183,0.7);

$color-tertiary: rgb(3,64,97);
$color-tertiary-clear: rgba(3,64,97,0.7);

// FONT VARIABLES
$font-primary: 'Montserrat', Arial, sans-serif;
$font-display: 'Rock Salt', cursive;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;  /* 1200px */
$bp-large: 62.5em;  /* 1000px */
$bp-medium: 50em;  /* 800px */
$bp-small: 37.5em;  /* 600px */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root, html {
  box-sizing: border-box;
  font-size: 16px;  /* 10px/16px = 62.5% -> 1rem = 10px */

  @media only screen and (max-width: $bp-large) {
    font-size: 75%;
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;  /* 8px */
  }
}

body {
  font-family: $font-primary;
  color: $color-tertiary;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  display: grid;
  grid-template-columns: 25% 1fr;
}