a, a:active {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 3.125rem;
    font-family: $font-display;
    color: $color-primary;
    padding: 1rem;
}

h2 {
    font-size: 2.5rem;
    font-family: $font-display;
    color: $color-primary;
    padding-top: 0.625rem;
}

h3 {
    font-size: 1.5625rem;
    text-transform: uppercase;
    font-family: $font-primary;
    color: $color-secondary;
    padding: 0.625rem;
    font-weight: 300;
}

h4 {
    font-size: 1rem;
    font-family: $font-primary;
    color: $color-secondary;
    font-weight: 200;
}

h5 {
    font-size: 1.3rem;
    font-family: $font-primary;
    color: $color-tertiary;
    font-weight: 200;
}

.nav-link {
    color: $color-secondary;
    text-decoration: none;
    display: block;
    padding: 0.625rem;
    font-weight: 200;
}

.selected {
    color: #fff;
}

p {
    font-family: $font-primary;
    color: $color-tertiary;
}
