.home {
    background-image: linear-gradient(to bottom right, rgba(149, 168, 179, 0.7), rgba(106, 132, 148, 0.7)),
      url('../assets/pura.jpg');
    text-align: right;
}

.home-link {
  &:hover {
    transform: translateY(-3px) scale(1.05);
    transition: all 0.5s ease;
  }
}