#nav {
    min-height: 100vh;
    top: 0;
    left: 0;
    background: #043F61;
    color: #FFBDA8;

    #profile {
      height: 30vh;
      margin: 1.875rem auto;
      border-radius: 50%;
      margin-bottom: 1.25rem;
    }
  
    #links {
      text-align: left;
      margin: 3.125rem;
    }
  }