.portfolio {
  background-image: linear-gradient(to bottom right, $color-secondary-clear, $color-secondary-clear),
    url("../assets/desert.jpg");
  text-align: right;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  justify-items: center;
  text-align: center;
  grid-gap: 1.5rem;
}
